/* BUG: return error 404 */
/* @font-face { */
/*   font-family: 'FiraCodeMonoRegular'; */
/*   src: url('/assets/fonts/FiraCodeNerdFontMonoRegular.ttf') format('truetype'); */
/*   font-weight: normal; */
/*   font-style: normal; */
/* } */

* {
  font-size: 20px;
  /* font-family: nerdfont; */
  /* font-family: FiraCodeMonoRegular; */
}

body {
  background-color: #0f1116;
  /* color: #ffffff; */
  margin: 0;
}
